@using Microsoft.AspNetCore.Identity;
@using crucibleBlog.Enums;
@using crucibleBlog.Services.Interfaces;

@inject IImageService _ImageService
@inject UserManager<BlogUser> _UserManager

@{
	BlogUser? blogUser = User.Identity!.IsAuthenticated ? await _UserManager.GetUserAsync(User) : new();
}

<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Author || Blogar - Personal Blog Template</title>
	<meta name="robots" content="noindex, follow" />
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon.png">

	<!-- CSS
	============================================ -->
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="~/assets/css/vendor/bootstrap.min.css">
	<link rel="stylesheet" href="~/assets/css/vendor/font-awesome.css">
	<link rel="stylesheet" href="~/assets/css/vendor/slick.css">
	<link rel="stylesheet" href="~/assets/css/vendor/slick-theme.css">
	<link rel="stylesheet" href="~/assets/css/vendor/base.css">
	<link rel="stylesheet" href="~/assets/css/plugins/plugins.css">
	<link rel="stylesheet" href="~/assets/css/style.css">

</head>
<body>

	<partial name="_LogoutPartial">
		<header>
			<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
				<div class="container-fluid">
					<ul class="metabar-block me-auto">
						<li class="nav-item">
							<a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" asp-area="" asp-controller="BlogPosts" asp-action="Index">Blogs</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a>
						</li>
					</ul>
@*				<ul class="metabar-block ms-auto">
						<li class="nav-item dropdown has-arrow main-drop">
							<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-expanded="false">
								<span class="user-img">
									<img src="@_ImageService.ConvertByteArrayToFile(blogUser?.ImageData!,blogUser?.ImageType,(int)(DefaultImage.BlogUserImage))" alt="">
									<span class="status online"></span>
								</span>
								<span>Add User name here</span>
					</a>*@
					@if (User.Identity!.IsAuthenticated)
							{
								<div class="dropdown-menu animate__slideInDown dropdown-menu-end setColor light">
									<a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index"><p style="color:black">My Profile</p></a>
									<a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit();"><p style="color:black">Logout</p></a>
								</div>
							}
							else
							{
								<div class="dropdown-menu animate__slideInDown dropdown-menu-end">
									<a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login"><p style="color:black">Sign In</p></a>
									<a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register"><p style="color:black">Register</p></a>
								</div>
							}
				</div>
			</nav>
		</header>
</partial>
<div class="content" id="mainHero">
	<section class="h-100">
		@RenderBody()
	</section>
</div>

	<div class="main-wrapper">
		<div class="mouse-cursor cursor-outer"></div>
		<div class="mouse-cursor cursor-inner"></div>

		<div id="my_switcher" class="my_switcher">
			<ul>
				<li>
					<a href="javascript: void(0);" data-theme="light" class="setColor light">
						<span title="Light Mode">Light</span>
					</a>
				</li>
				<li>
					<a href="javascript: void(0);" data-theme="dark" class="setColor dark">
						<span title="Dark Mode">Dark</span>
					</a>
				</li>
			</ul>
		</div>
	</div>

	<!-- JS
	============================================ -->
	<!-- Modernizer JS -->
	<script src="~/assets/js/vendor/modernizr.min.js"></script>
	<!-- jQuery JS -->
	<script src="~/assets/js/vendor/jquery.js"></script>
	<!-- Bootstrap JS -->
	<script src="~/assets/js/vendor/bootstrap.min.js"></script>
	<script src="~/assets/js/vendor/slick.min.js"></script>
	<script src="~/assets/js/vendor/tweenmax.min.js"></script>
	<script src="~/assets/js/vendor/js.cookie.js"></script>
	<script src="~/assets/js/vendor/jquery.style.switcher.js"></script>
	<script src="https://kit.fontawesome.com/dca974df2e.js" crossorigin="anonymous"></script>

	<!-- Main JS -->
	<script src="~/assets/js/main.js"></script>
	@await RenderSectionAsync("Scripts", required: false)


</body>

</html>