@using Microsoft.AspNetCore.Identity;
@using crucibleBlog.Enums;
@using crucibleBlog.Services.Interfaces;

@inject IImageService _ImageService
@inject UserManager<BlogUser> _UserManager

@{
	BlogUser? blogUser = User.Identity!.IsAuthenticated ? await _UserManager.GetUserAsync(User) : new();
}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Author || Blogar - Personal Blog Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon.png">

    <!-- CSS
    ============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="~/assets/css/vendor/slick.css">
    <link rel="stylesheet" href="~/assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="~/assets/css/vendor/base.css">
    <link rel="stylesheet" href="~/assets/css/plugins/plugins.css">
    <link rel="stylesheet" href="~/assets/css/style.css">

</head>
 <body>

<div class="main-wrapper">
    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>

    <div id="my_switcher" class="my_switcher">
        <ul>
            <li>
                <a href="javascript: void(0);" data-theme="light" class="setColor light">
                    <span title="Light Mode">Light</span>
                </a>
            </li>
            <li>
                <a href="javascript: void(0);" data-theme="dark" class="setColor dark">
                    <span title="Dark Mode">Dark</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- Start Header -->
    <header class="header axil-header  header-light header-sticky header-with-shadow">
        <div class="header-wrap">
            <div class="row justify-content-between align-items-center">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-3 col-12">
                    <div class="logo">
                        <a href="index.html">
                            <img class="dark-logo" src="assets/images/logo/logo-black.png" alt="Blogar logo">
                            <img class="light-logo" src="assets/images/logo/logo-white2.png" alt="Blogar logo">
                        </a>
                    </div>
                </div>

                <div class="col-xl-6 d-none d-xl-block">
                    <div class="mainmenu-wrapper">
                        <nav class="mainmenu-nav">
                            <!-- Start Mainmanu Nav -->
                            <ul class="mainmenu">
                                <li class="menu-item-has-children">
                                    <a href="#">Home</a>
                                    <ul class="axil-submenu">
                                        <li>
                                            <a class="hover-flip-item-wrapper" asp-area="" asp-controller="Home" asp-action="Index">
                                                <span class="hover-flip-item">
                                                    <span data-text="Home Default">Home Default</span>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="menu-item-has-children">
                                    <a href="#">Posts</a>
                                    <ul class="axil-submenu">
                                        <li>
                                            <a class="hover-flip-item-wrapper" asp-area="" asp-controller="BlogPosts" asp-action="Index">
                                                <span class="hover-flip-item">
                                                    <span data-text="Admin Blog Posts">Admin Blog Posts</span>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="menu-item-has-children">
                                    <a href="#">Categories</a>
                                    <ul class="axil-submenu">
                                        <li>
                                            <a class="hover-flip-item-wrapper" asp-area="" asp-controller="Categories" asp-action="Index">
                                                <span class="hover-flip-item">
                                                    <span data-text="Admin Categories">Admin Categories</span>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="menu-item-has-children megamenu-wrapper">
                                    <a href="#">Quick Menu</a>
                                    <ul class="megamenu-sub-menu">
                                        <li class="megamenu-item">

                                            <!-- Start Verticle Nav  -->
                                            <div class="axil-vertical-nav">
                                                <ul class="vertical-nav-menu">
                                                    <li class="vertical-nav-item active">
                                                        <a class="hover-flip-item-wrapper" href="#tab1">
                                                            <span class="hover-flip-item">
                                                            <span data-text="HTML">HTML</span>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="vertical-nav-item">
                                                        <a class="hover-flip-item-wrapper" href="#tab2">
                                                            <span class="hover-flip-item">
                                                                <span data-text="CSS">CSS</span>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="vertical-nav-item">
                                                        <a class="hover-flip-item-wrapper" href="#tab3">
                                                            <span class="hover-flip-item">
                                                            <span data-text="JavaScript">JavaScript</span>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="vertical-nav-item">
                                                        <a class="hover-flip-item-wrapper" href="#tab4">
                                                            <span class="hover-flip-item">
                                                                <span data-text="C#">C#</span>
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- Start Verticle Nav  -->
                                            <!-- Start Verticle Menu  -->
                                            <div class="axil-vertical-nav-content">
                                                <!-- Start One Item  -->
                                                <div class="axil-vertical-inner tab-content" id="tab1" style="display: block;">
                                                    <div class="axil-vertical-single">
                                                        <div class="row">

                                                            <!-- Start Post List  -->
                                                            <div class="col-lg-3">
                                                                <div class="content-block image-rounded">
                                                                    <div class="post-thumbnail mb--20">
                                                                        <a href="post-details.html">
                                                                            <img class="w-100" src="assets/images/others/mega-post-01.jpg" alt="Post Images">
                                                                        </a>
                                                                    </div>
                                                                    <div class="post-content">
                                                                        <div class="post-cat">
                                                                            <div class="post-cat-list">
                                                                                <a class="hover-flip-item-wrapper" href="#">
                                                                                    <span class="hover-flip-item">
                                                                                        <span data-text="DESIGN">DESIGN</span>
                                                                                    </span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <h5 class="title"><a href="post-details.html">India may require online shops to hand</a></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- End Post List  -->
                                                            <!-- Start Post List  -->
                                                            <div class="col-lg-3">
                                                                <div class="content-block image-rounded">
                                                                    <div class="post-thumbnail mb--20">
                                                                        <a href="post-details.html">
                                                                            <img class="w-100" src="assets/images/others/mega-post-02.jpg" alt="Post Images">
                                                                        </a>
                                                                    </div>
                                                                    <div class="post-content">
                                                                        <div class="post-cat">
                                                                            <div class="post-cat-list">
                                                                                <a class="hover-flip-item-wrapper" href="#">
                                                                                    <span class="hover-flip-item">
                                                                                        <span data-text="CREATIVE">CREATIVE</span>
                                                                                    </span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <h5 class="title"><a href="post-details.html">Lightweight, grippable, and ready to go.</a></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- End Post List  -->
                                                            <!-- Start Post List  -->
                                                            <div class="col-lg-3">
                                                                <div class="content-block image-rounded">
                                                                    <div class="post-thumbnail mb--20">
                                                                        <a href="post-details.html">
                                                                            <img class="w-100" src="assets/images/others/mega-post-03.jpg" alt="Post Images">
                                                                        </a>
                                                                    </div>
                                                                    <div class="post-content">
                                                                        <div class="post-cat">
                                                                            <div class="post-cat-list">
                                                                                <a class="hover-flip-item-wrapper" href="#">
                                                                                    <span class="hover-flip-item">
                                                                                        <span data-text="TRAVEL">TRAVEL</span>
                                                                                    </span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <h5 class="title"><a href="post-details.html">Bold new experience. Same Mac magic.</a></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- End Post List  -->
                                                            <!-- Start Post List  -->
                                                            <div class="col-lg-3">
                                                                <div class="content-block image-rounded">
                                                                    <div class="post-thumbnail mb--20">
                                                                        <a href="post-details.html">
                                                                            <img class="w-100" src="assets/images/others/mega-post-04.jpg" alt="Post Images">
                                                                        </a>
                                                                    </div>
                                                                    <div class="post-content">
                                                                        <div class="post-cat">
                                                                            <div class="post-cat-list">
                                                                                <a class="hover-flip-item-wrapper" href="#">
                                                                                    <span class="hover-flip-item">
                                                                                        <span data-text="GADGETS">GADGETS</span>
                                                                                    </span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <h5 class="title"><a href="post-details.html">Creative Game With The New DJI Mavic Air</a></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- End Post List  -->

                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End One Item  -->
                                                <!-- Start One Item  -->
                                                <div class="axil-vertical-inner tab-content" id="tab2">
                                                    <div class="axil-vertical-single">
                                                        <div class="row">

                                                            <!-- Start Post List  -->
                                                            <div class="col-lg-3">
                                                                <div class="content-block image-rounded">
                                                                    <div class="post-thumbnail mb--20">
                                                                        <a href="post-details.html">
                                                                            <img class="w-100" src="assets/images/others/mega-post-04.jpg" alt="Post Images">
                                                                        </a>
                                                                    </div>
                                                                    <div class="post-content">
                                                                        <div class="post-cat">
                                                                            <div class="post-cat-list">
                                                                                <a class="hover-flip-item-wrapper" href="#">
                                                                                    <span class="hover-flip-item">
                                                                                        <span data-text="DESIGN">DESIGN</span>
                                                                                    </span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <h5 class="title"><a href="post-details.html">India may require online shops to hand</a></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- End Post List  -->
                                                            <!-- Start Post List  -->
                                                            <div class="col-lg-3">
                                                                <div class="content-block image-rounded">
                                                                    <div class="post-thumbnail mb--20">
                                                                        <a href="post-details.html">
                                                                            <img class="w-100" src="assets/images/others/mega-post-03.jpg" alt="Post Images">
                                                                        </a>
                                                                    </div>
                                                                    <div class="post-content">
                                                                        <div class="post-cat">
                                                                            <div class="post-cat-list">
                                                                                <a class="hover-flip-item-wrapper" href="#">
                                                                                    <span class="hover-flip-item">
                                                                                        <span data-text="DESIGN">DESIGN</span>
                                                                                    </span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <h5 class="title"><a href="post-details.html">Lightweight, grippable, and ready to go.</a></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- End Post List  -->
                                                            <!-- Start Post List  -->
                                                            <div class="col-lg-3">
                                                                <div class="content-block image-rounded">
                                                                    <div class="post-thumbnail mb--20">
                                                                        <a href="post-details.html">
                                                                            <img class="w-100" src="assets/images/others/mega-post-02.jpg" alt="Post Images">
                                                                        </a>
                                                                    </div>
                                                                    <div class="post-content">
                                                                        <div class="post-cat">
                                                                            <div class="post-cat-list">
                                                                                <a class="hover-flip-item-wrapper" href="#">
                                                                                    <span class="hover-flip-item">
                                                                                        <span data-text="DESIGN">DESIGN</span>
                                                                                    </span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <h5 class="title"><a href="post-details.html">Bold new experience. Same Mac magic.</a></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- End Post List  -->
                                                            <!-- Start Post List  -->
                                                            <div class="col-lg-3">
                                                                <div class="content-block image-rounded">
                                                                    <div class="post-thumbnail mb--20">
                                                                        <a href="post-details.html">
                                                                            <img class="w-100" src="assets/images/others/mega-post-04.jpg" alt="Post Images">
                                                                        </a>
                                                                    </div>
                                                                    <div class="post-content">
                                                                        <div class="post-cat">
                                                                            <div class="post-cat-list">
                                                                                <a class="hover-flip-item-wrapper" href="#">
                                                                                    <span class="hover-flip-item">
                                                                                        <span data-text="DESIGN">DESIGN</span>
                                                                                    </span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <h5 class="title"><a href="post-details.html">Creative Game With The New DJI Mavic Air</a></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- End Post List  -->

                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End One Item  -->
                                                <!-- Start One Item  -->
                                                <div class="axil-vertical-inner tab-content" id="tab3">
                                                    <div class="axil-vertical-single">
                                                        <div class="row">

                                                            <!-- Start Post List  -->
                                                            <div class="col-lg-3">
                                                                <div class="content-block image-rounded">
                                                                    <div class="post-thumbnail mb--20">
                                                                        <a href="post-details.html">
                                                                            <img class="w-100" src="assets/images/others/mega-post-04.jpg" alt="Post Images">
                                                                        </a>
                                                                    </div>
                                                                    <div class="post-content">
                                                                        <div class="post-cat">
                                                                            <div class="post-cat-list">
                                                                                <a class="hover-flip-item-wrapper" href="#">
                                                                                    <span class="hover-flip-item">
                                                                                        <span data-text="DESIGN">DESIGN</span>
                                                                                    </span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <h5 class="title"><a href="post-details.html">Creative Game With The New DJI Mavic Air</a></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- End Post List  -->
                                                            <!-- Start Post List  -->
                                                            <div class="col-lg-3">
                                                                <div class="content-block image-rounded">
                                                                    <div class="post-thumbnail mb--20">
                                                                        <a href="post-details.html">
                                                                            <img class="w-100" src="assets/images/others/mega-post-03.jpg" alt="Post Images">
                                                                        </a>
                                                                    </div>
                                                                    <div class="post-content">
                                                                        <div class="post-cat">
                                                                            <div class="post-cat-list">
                                                                                <a class="hover-flip-item-wrapper" href="#">
                                                                                    <span class="hover-flip-item">
                                                                                        <span data-text="DESIGN">DESIGN</span>
                                                                                    </span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <h5 class="title"><a href="post-details.html">Bold new experience. Same Mac magic.</a></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- End Post List  -->
                                                            <!-- Start Post List  -->
                                                            <div class="col-lg-3">
                                                                <div class="content-block image-rounded">
                                                                    <div class="post-thumbnail mb--20">
                                                                        <a href="post-details.html">
                                                                            <img class="w-100" src="assets/images/others/mega-post-02.jpg" alt="Post Images">
                                                                        </a>
                                                                    </div>
                                                                    <div class="post-content">
                                                                        <div class="post-cat">
                                                                            <div class="post-cat-list">
                                                                                <a class="hover-flip-item-wrapper" href="#">
                                                                                    <span class="hover-flip-item">
                                                                                        <span data-text="DESIGN">DESIGN</span>
                                                                                    </span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <h5 class="title"><a href="post-details.html">Lightweight, grippable, and ready to go.</a></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- End Post List  -->
                                                            <!-- Start Post List  -->
                                                            <div class="col-lg-3">
                                                                <div class="content-block image-rounded">
                                                                    <div class="post-thumbnail mb--20">
                                                                        <a href="post-details.html">
                                                                            <img class="w-100" src="assets/images/others/mega-post-04.jpg" alt="Post Images">
                                                                        </a>
                                                                    </div>
                                                                    <div class="post-content">
                                                                        <div class="post-cat">
                                                                            <div class="post-cat-list">
                                                                                <a class="hover-flip-item-wrapper" href="#">
                                                                                    <span class="hover-flip-item">
                                                                                        <span data-text="DESIGN">DESIGN</span>
                                                                                    </span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <h5 class="title"><a href="post-details.html">India may require online shops to hand</a></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- End Post List  -->

                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End One Item  -->
                                                <!-- Start One Item  -->
                                                <div class="axil-vertical-inner tab-content" id="tab4">
                                                    <div class="axil-vertical-single">
                                                        <div class="row">

                                                            <!-- Start Post List  -->
                                                            <div class="col-lg-3">
                                                                <div class="content-block image-rounded">
                                                                    <div class="post-thumbnail mb--20">
                                                                        <a href="post-details.html">
                                                                            <img class="w-100" src="assets/images/others/mega-post-01.jpg" alt="Post Images">
                                                                        </a>
                                                                    </div>
                                                                    <div class="post-content">
                                                                        <div class="post-cat">
                                                                            <div class="post-cat-list">
                                                                                <a class="hover-flip-item-wrapper" href="#">
                                                                                    <span class="hover-flip-item">
                                                                                        <span data-text="DESIGN">DESIGN</span>
                                                                                    </span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <h5 class="title"><a href="post-details.html">India may require online shops to hand</a></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- End Post List  -->
                                                            <!-- Start Post List  -->
                                                            <div class="col-lg-3">
                                                                <div class="content-block image-rounded">
                                                                    <div class="post-thumbnail mb--20">
                                                                        <a href="post-details.html">
                                                                            <img class="w-100" src="assets/images/others/mega-post-04.jpg" alt="Post Images">
                                                                        </a>
                                                                    </div>
                                                                    <div class="post-content">
                                                                        <div class="post-cat">
                                                                            <div class="post-cat-list">
                                                                                <a class="hover-flip-item-wrapper" href="#">
                                                                                    <span class="hover-flip-item">
                                                                                        <span data-text="DESIGN">DESIGN</span>
                                                                                    </span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <h5 class="title"><a href="post-details.html">Lightweight, grippable, and ready to go.</a></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- End Post List  -->
                                                            <!-- Start Post List  -->
                                                            <div class="col-lg-3">
                                                                <div class="content-block image-rounded">
                                                                    <div class="post-thumbnail mb--20">
                                                                        <a href="post-details.html">
                                                                            <img class="w-100" src="assets/images/others/mega-post-03.jpg" alt="Post Images">
                                                                        </a>
                                                                    </div>
                                                                    <div class="post-content">
                                                                        <div class="post-cat">
                                                                            <div class="post-cat-list">
                                                                                <a class="hover-flip-item-wrapper" href="#">
                                                                                    <span class="hover-flip-item">
                                                                                        <span data-text="DESIGN">DESIGN</span>
                                                                                    </span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <h5 class="title"><a href="post-details.html">Bold new experience. Same Mac magic.</a></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- End Post List  -->
                                                            <!-- Start Post List  -->
                                                            <div class="col-lg-3">
                                                                <div class="content-block image-rounded">
                                                                    <div class="post-thumbnail mb--20">
                                                                        <a href="post-details.html">
                                                                            <img class="w-100" src="assets/images/others/mega-post-04.jpg" alt="Post Images">
                                                                        </a>
                                                                    </div>
                                                                    <div class="post-content">
                                                                        <div class="post-cat">
                                                                            <div class="post-cat-list">
                                                                                <a class="hover-flip-item-wrapper" href="#">
                                                                                    <span class="hover-flip-item">
                                                                                        <span data-text="DESIGN">DESIGN</span>
                                                                                    </span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <h5 class="title"><a href="post-details.html">Creative Game With The New DJI Mavic Air</a></h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- End Post List  -->

                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End One Item  -->

                                            </div>
                                            <!-- End Verticle Menu  -->
                                        </li>
                                    </ul>
                                </li>

                                <li class="menu-item-has-children">
                                    <a href="#">Pages</a>
                                    <ul class="axil-submenu">
                                        <li>
                                            <a class="hover-flip-item-wrapper" href="post-list.html">
                                                <span class="hover-flip-item">
                                                    <span data-text="Author">About the Author</span>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                
                            </ul>
                            <!-- End Mainmanu Nav -->
                        </nav>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-8 col-md-8 col-sm-9 col-12">
                    <div class="header-search text-end d-flex align-items-center">
                        <form class="header-search-form d-sm-block d-none">
                            <div class="axil-search form-group">
                                <button type="submit" class="search-button"><i class="fal fa-search"></i></button>
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                        </form>
                        <div class="mobile-search-wrapper d-sm-none d-block">
                            <button class="search-button-toggle"><i class="fal fa-search"></i></button>
                            <form class="header-search-form">
                                <div class="axil-search form-group">
                                    <button type="submit" class="search-button"><i class="fal fa-search"></i></button>
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                            </form>
                        </div>
                        <ul class="metabar-block">
                            <li class="icon"><a href="#"><i class="fas fa-bookmark"></i></a></li>
                            <li class="icon"><a href="#"><i class="fas fa-bell"></i></a></li>
                            <li><a href="#"><img src="assets/images/others/author.png" alt="Author Images"></a></li>
                        </ul>
                        <!-- Start Hamburger Menu  -->
                        <div class="hamburger-menu d-block d-xl-none">
                            <div class="hamburger-inner">
                                <div class="icon"><i class="fal fa-bars"></i></div>
                            </div>
                        </div>
                        <!-- End Hamburger Menu  -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    </div>




	<partial name="_LogoutPartial">

</partial>
<div class="content" id="mainHero">
	<section class="h-100">
		@RenderBody()
	</section>
</div>

	<div class="main-wrapper">
		<div class="mouse-cursor cursor-outer"></div>
		<div class="mouse-cursor cursor-inner"></div>

		<div id="my_switcher" class="my_switcher">
			<ul>
				<li>
					<a href="javascript: void(0);" data-theme="light" class="setColor light">
						<span title="Light Mode">Light</span>
					</a>
				</li>
				<li>
					<a href="javascript: void(0);" data-theme="dark" class="setColor dark">
						<span title="Dark Mode">Dark</span>
					</a>
				</li>
			</ul>
		</div>
	</div>

	<!-- JS
	============================================ -->
	<!-- Modernizer JS -->
	<script src="~/assets/js/vendor/modernizr.min.js"></script>
	<!-- jQuery JS -->
	<script src="~/assets/js/vendor/jquery.js"></script>
	<!-- Bootstrap JS -->
	<script src="~/assets/js/vendor/bootstrap.min.js"></script>
	<script src="~/assets/js/vendor/slick.min.js"></script>
	<script src="~/assets/js/vendor/tweenmax.min.js"></script>
	<script src="~/assets/js/vendor/js.cookie.js"></script>
	<script src="~/assets/js/vendor/jquery.style.switcher.js"></script>
	<script src="https://kit.fontawesome.com/dca974df2e.js" crossorigin="anonymous"></script>

	<!-- Main JS -->
	<script src="~/assets/js/main.js"></script>
	@await RenderSectionAsync("Scripts", required: false)


    <!-- Start Footer Area  -->
    <div class="axil-footer-area axil-footer-style-1 bg-color-white">
        <!-- Start Footer Top Area  -->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Start Post List  -->
                        <div class="inner d-flex align-items-center flex-wrap">
                            <h5 class="follow-title mb--0 mr--20">Follow Us</h5>
                            <ul class="social-icon color-tertiary md-size justify-content-start">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                        <!-- End Post List  -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Top Area  -->
        <!-- Start Copyright Area  -->
        <div class="copyright-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-9 col-md-12">
                        <div class="copyright-left">
                            <div class="logo">
                                <a href="index.html">
                                    <img class="dark-logo" src="assets/images/logo/logo-black.png" alt="Logo Images">
                                    <img class="light-logo" src="assets/images/logo/logo-white2.png" alt="Logo Images">
                                </a>
                            </div>
                            <ul class="mainmenu justify-content-start">
                                <li>
                                    <a class="hover-flip-item-wrapper" href="#">
                                        <span class="hover-flip-item">
                                            <span data-text="Contact Us">Contact Us</span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="hover-flip-item-wrapper" href="#">
                                        <span class="hover-flip-item">
                                            <span data-text="Terms of Use">Terms of Use</span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="hover-flip-item-wrapper" href="#">
                                        <span class="hover-flip-item">
                                            <span data-text="AdChoices">AdChoices</span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="hover-flip-item-wrapper" href="#">
                                        <span class="hover-flip-item">
                                            <span data-text="Advertise with Us">Advertise with Us</span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="hover-flip-item-wrapper" href="#">
                                        <span class="hover-flip-item">
                                            <span data-text="Blogar Store">Blogar Store</span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="copyright-right text-start text-lg-end mt_md--20 mt_sm--20">
                            <p class="b3">All Rights Reserved © 2022</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Copyright Area  -->
    </div>
    <!-- End Footer Area  -->
</body>

</html>


@* <header>
	<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
		<div class="container-fluid">
			<ul class="metabar-block me-auto">
				<li class="nav-item">
					<a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-light" asp-area="" asp-controller="BlogPosts" asp-action="Index">Blogs</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-light" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a>
				</li>
			</ul>
			<ul class="metabar-block ms-auto">
				<li class="nav-item dropdown has-arrow main-drop">
					<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-expanded="false">
						<span class="user-img">
							<img src="" alt="">
							<span class="status online"></span>
						</span>
						<span>Add User name here</span>
					</a>
					@if (User.Identity.IsAuthenticated)
					{
						<div class="dropdown-menu animate__slideInDown">
							<a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index"><p style="color:black">My Profile</p></a>
							<a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit();"><p style="color:black">Logout</p></a>
						</div>
					}
					else
					{
						<div class="dropdown-menu animate__slideInDown">
							<a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login"><p style="color:black">Sign In</p></a>
							<a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register"><p style="color:black">Register</p></a>
						</div>
					}
				</li>
			</ul>
		</div>
	</nav>
</header>*@